/*
-*- coding: utf-8; mode: css; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- vim:fenc=utf-8:filetype=css:et:sw=4:ts=4:sts=4
*/

body {
    margin: 0;
    padding: 19px 40px;
    background: url(img/top-backdrop.png) repeat-x #EDEDED;
    /*! font: 13px Helvetica, Arial, sans-serif; */
    line-height: 1.4em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.accessibility {
    margin: 0;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
}

a:link {
    color: #0155CD;
    text-decoration: underline;
}

a:visited {
    color: #012567;
}

a:hover {
    color: #3591ED;
}

h1, h2, h3 {
    margin: 0;
    /*! color: white; */
}

.logo a {
    display: block;
    float: left;
    width: 183px;
    height: 49px;
    background: url(img/macports-logo-top.png);
    background-size: 183px 73px;
}

h1 small, h2 small, h3 small {
    float: right;
}
h1::after, h2::after, h3::after {
    content: '';
    display: block;
    clear: right;
}

h2, h3 {
    /*! background: #8695B3; */
    /*! padding: 0.2em 0.5em; */
}

h2 {
    /*! font: bold 24px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

h3 {
    /*! padding: 0.4em 0.5em 0.2em; */
}

h3 a:link {
    color: #0155CD;
}

h3 a:visited {
    color: #012567;
}

h3 a:hover {
    color: #CDCDCD;
}

img {
    margin: 0;
    border: 0;
}

#header {
    margin: 21px 0 17px 191px;
    min-width: 350px;
    max-width: 700px;
    height: 51px;
}

#header div, #header span {
    float: right;
}

#header img {
    margin-left: 5px;
}

#download {
    display: block;
    float: right;
    width: 70px;
    height: 29px;
    background: url(img/download.png);
    margin-left: 5px;
}

a#download:hover {
    background: url(img/download-highlight.png);
}

#languages {
    width: 150px;
}

#language img, #languages img {
    width: 30px;
    height: 48px;
}

#side-navigation {
    width: 176px;
    float: left;
    /*! clear: left; */
    /*! background: url(img/nav-header.png) top no-repeat #B1BACC; */
    /*! line-height: 1.4em; */
    /*! margin-top: -6px; */
}

#side-navigation ul {
    margin: 0 0 1em 0;
    padding: 0;
}

#side-navigation li {
    display: block;
    margin-bottom: 1px;
    border-bottom: 1px solid #CDCDCD
}

#side-navigation a {
    text-decoration: none;
    color: #242933;
    padding: 6px 16px 6px 6px;
    display: block;
}

#side-navigation a:hover {
    background: #CDCDCD
}

.selected {
    background: #eaeaea;
    font-weight: bold;
}

.warnings {
    background: #FCC;
    border: 2px solid #F66;
    padding: 6px;
    margin: 7px 7px 7px 198px;
    min-width: 320px;
    max-width: 670px;
}

.warnings p {
    margin: 1em 0 0 0;
    font-size: 1.2em;
    font-weight: bold;
}

.warnings p:first-child {
    margin: 0;
}

#content {
    padding: 1px 0 40px 191px;
    min-width: 350px;
    max-width: 700px;
}

#content li {
    margin-bottom: 0.7em;
}

#content li p {
    margin: 0.6em 0 1.4em 0;
    padding-left: 1.6em;
}

#content li ul {
    margin-top: 0.7em;
}

#categories > ul > li {
    margin-bottom: 40px;
}

#categories ul > li  {
    list-style: none;
    width: 120px;
    float: left;
}

#categories li li {
    margin-bottom: 10px;
}

.email {
    width: 1em;
    height: 1em;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#footer {
    font-size: 90%;
    clear: both;
    text-align: center;
}

#footer img {
    border: 0;
    height: 31px;
    width: 88px;
}

#primary-navigation,
#primary-navigation ul,
#primary-navigation ul li,
#primary-navigation ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#primary-navigation:after,
#primary-navigation > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#primary-navigation {
  width: auto;
  line-height: 1;
}

#primary-navigation ul {
  background: #ffffff;
}

#primary-navigation > ul > li {
  float: left;
}

#primary-navigation.align-center > ul {
  font-size: 0;
  text-align: center;
}

#primary-navigation.align-center > ul > li {
  display: inline-block;
  float: none;
}

#primary-navigation.align-right > ul > li {
  float: right;
}

#primary-navigation.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}

#primary-navigation > ul > li > a {
  z-index: 2;
  padding: 18px 20px 12px 20px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}

#primary-navigation > ul > li.active > a,
#primary-navigation > ul > li:hover > a,
#primary-navigation > ul > li > a:hover {
  color: #ffffff;
}

#primary-navigation > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}

#primary-navigation > ul > li.active > a:after,
#primary-navigation > ul > li:hover > a:after,
#primary-navigation > ul > li > a:hover:after {
  background: #207BEA;
}

.full-width-border{
    position:absolute;
    left:0;
    right:0;
    border-bottom: 3px solid #207BEA;
}
